@use "../variables" as *;
@use "../mixins" as *;

.about {
    max-width: 114rem;
    margin: 0 auto;
    padding: 0 2rem;
}

.about__company {
    display: flex;
    gap: 6.3rem;
    justify-content: space-around;
    height: 60rem;
    @include mq-down(md) {
        flex-direction: column;
    }
}

.about__image-container {
    @include mq-up(md) {
        flex: 0 0 57rem;
    }
}

.about__image-company {
    position: relative;
}

.about__image {
    position: absolute;
    width: 35rem;
    height: auto;
    box-shadow: $box-shadow;
    border: 1px solid #fafbfe;
    padding: 1.6rem;
}

.about__image-top {
    top: 0;
    left: 0;
}

.about__image-right {
    top: 6rem;
    right: 0;
}

.about__title {
    font-size: 4rem;
    line-height: 5.4rem;
    font-weight: 400;
}

.about__desc {
    font-size: 2rem;
    line-height: 3.1rem;
    font-weight: 200;
    margin-top: 1.6rem;
}

.about__content {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.about__strong {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.strong__line {
    width: 100%;
    height: 0.8rem;
    box-shadow: $box-shadow-hover;
    border-radius: 0.5rem;
    position: relative;
}

.strong__line-active {
    height: 0.8rem;
    background-color: #31344b;
    border-radius: 0.5rem;
    position: absolute;
}

.about__me {
    display: flex;
    gap: 6.3rem;
    justify-content: space-around;
    flex-direction: row-reverse;
}

.about__image-border {
    padding: 1.6rem;
    border-radius: 63% 37% 30% 70% / 50% 45% 55% 50%;
    box-shadow: $box-shadow;
    img {
        border-radius: 63% 37% 30% 70% / 50% 45% 55% 50%;
    }
}
.about__content-bottom {
   align-items: end;
}
.about__sigture {
    margin-top: 2.4rem;
    width: 15rem;
}