@use "../mixins" as *;
@use "../variables" as *;

.header__container {
    display: flex;
    max-width: 120rem;
    margin: 0 auto;
    align-items: center;
    padding: 1.6rem;
    gap:2.4rem;
    @include mq-down(md) {
        justify-content: space-between;
    }
}

.header__logo {
    width: 5rem;
    height: 4rem;
    padding: 0.5rem 1rem;
    border: 1px solid #d1d9e6;
    box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #fff;
    border-radius: 0.55rem;
    @include mq-up(md){
        margin: 2rem;
    }
}

.header__content {
    display: flex;
    gap: 24rem;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    @include mq-down(md){
        flex-direction: row-reverse;
    }
}

.header__page {
    display: flex;
    gap:3.2rem;
    font-size: 2rem;
    font-weight: 500;

    @include mq-down(md) {
        display:  none;
        opacity: 0;
        pointer-events: none;
        inset: 0;
        position: fixed;
        margin: 1.5rem;
        border: 1px solid #d1d9e6;
        box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #fff;
        border-radius: 0.55rem;

        &.open-mobie {
            opacity: 1;
            pointer-events: auto;
        }
    }
}
.header__page-fixed {
    display: none;
    @include mq-down(md) {
        opacity: 0;
        pointer-events: none;
        inset: 0;
        position: fixed;
        margin: 1.5rem;
        border: 1px solid #d1d9e6;
        box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #fff;
        border-radius: 0.55rem;
        background: #e6e7ee;
        padding: 2.4rem;
        display: flex;
        flex-direction: column;
        transform: scale(0.2);
        transition: transform 300ms ease,opacity 300ms ease;
        &.open-mobie {
            opacity: 1;
            transform: scale(1);
            pointer-events: auto;
        }
    }
}
.header-fixed__link {
    position: relative;
    padding: 1rem 0rem;
    a {
        width: 100%;
        height: 100%;
    }
}
.header-fixed__link-icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.header-fixed__top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 6rem;
}
.header-fixed__close-icon{
    width: 2rem;
    height: 2rem;
}
.header__change {
    display: flex;
    gap: 1.6rem;
}

.change__box {
    display: flex;
    padding: 1rem 1.5rem;
    align-items: center;
    gap:1.2rem;
    @include button-layout();
    @include mq-down(md){
        gap: 0.8rem;
    }
}

.change__icon .change__contact {
    @include mq-down {
        display: none;
    }
}

.header__container-bar {
    display: none;

    @include mq-down(md) {
        display: block;
        padding: 1rem;
        height: 5rem;
    }
}

.header__bar {
    width: 3rem;
    height: 3rem;
}

.change__icon {
    width: 1.8rem;
    height: 1.8rem;
}

.chang__shopping {
    color: #2d4cc8;
}