@use "../variables" as *;
@use "../mixins" as *;

.profile {
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__info {
    margin: 3rem 0rem;
    padding: 0rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem
}

.profile__avatar {
    width: 19.2rem;
    aspect-ratio: 1;
    padding: 1.6rem;
    border-radius: 50%;
    box-shadow: $box-shadow-hover;
}

.profile__avatar img {
    border-radius: 50%;
    box-shadow: $box-shadow;
}

.profile__name {
    font-size: 3.2rem;
    font-weight: 400;
}

.profile__address {
    font-size: 2rem;
    font-weight: 400;
    position: relative;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.profile__address-icon {
    font-size: 2rem;
}
.profile__online {
    display: flex;
    gap: 2rem;
    font-size: 2rem;
}

.profile-icon {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-blue {
    color: #3b5999;
}

.icon-pink {
    color: #ea4c89;
    ;
}

.icon-green {
    color: rgb(32, 228, 162);
}

.profile__history {
    max-width: 124rem;
    padding: 0rem 2rem;
    margin: 8rem auto 8rem;
}

.history__box {
    width: 40rem;
    padding: 1.6rem;
    box-shadow: $box-shadow-hover;
    border-radius: 0.55rem;
    position: relative;

    &::after {
        content: "";
        width: 1.4rem;
        aspect-ratio: 1;
        border-radius: 50%;
        position: absolute;
        top: 0;
        transform: translateX(50%);
        right: -5rem;
        box-shadow: $box-shadow-hover;
    }

    &::before {
        content: "";
        width: 0.6rem;
        height: calc(100% - 4.5rem);
        border-radius: 0.55rem;
        position: absolute;
        transform: translateX(50%);
        top: 3rem;
        right: -5rem;
        box-shadow: $box-shadow-hover;
    }
}

.history__box-left {
    margin-left: 50rem;

    &::after,
    &::before {
        right: auto;
        left: -5rem;
        transform: translateX(-50%);
    }
}

.history__container {
    box-shadow: $box-shadow;
    display: flex;
    flex-direction: column;
    padding: 1.6rem;
    gap: 0.8rem;
    border-radius: 0.55rem;
}

.history__time {
    font-size: 1.8rem;
    line-height: 2.2rem;
    font-weight: 300;
}

.history__title {
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 3.2rem;
}

.history__desc {
    font-size: 1.6rem;
    font-weight: 200;
}

.history__signature {
    width: 10rem;
    height: 4rem;
}

.history__list-auto {
    display: flex;
    gap: 2rem;
}

.history__logo-gara {
    width: 8rem;
    height: 4rem;
}

.history__logo-school {
    width: 6rem;
    height: 6rem;
}

.history__name {
    font-weight: 300;
    font-size: 1.8rem;
}

.profile__service {
    max-width: 120rem;
    padding: 0rem 2rem;
    margin: 8rem auto 8rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    @include mq-down(md){
        grid-template-columns: repeat(1,1fr);
    }
}
.profile__service-box {
    padding: 2.4rem 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    box-shadow: $box-shadow;
    min-width: 0;
}
.profile__service-item {
    display: flex;
    gap: 2.4rem;
    position: relative;
    &::after {
        content:  "";
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #d1d9e6;
        bottom: -2.4rem;
    }
    &:last-child {
        &::after {
            display: none;
        }
    }
}
.profile__service-icon {
   font-size: 2rem;
   flex: 0 0 2rem;
}
.profile__service-content {
    display: flex;
    gap: 0.8rem;
    flex-direction: column;
}
.profile__service-title {
    font-size: 2rem;
    line-height: 2.7rem;
    font-weight: 400;
}
.profile__service-desc {
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: 300;
}