@use "mixins" as *;
@use "variables" as *;

* {
    margin: 0;
    padding: 0;
    ;
    box-sizing: border-box;
}

html {
    font-size: 2.67vw;
    scroll-behavior: smooth;

    @include mq-up(xl) {
        font-size: 10px;
    }

    @include mq-devices(laptop) {
        font-size: 0.6944vw;
    }

    @include mq-devices(tablet) {
        font-size: 0.6944vw;
    }
}

body {
    font-family: $fontt-family;
    color: $primary-color;
    font-size: 1.6rem;
    line-height: 1.6;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: $background-main;
}

p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

ul,
ol {
    list-style: none;
}

button {
    font-family: inherit;
    border: none;
    background: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

svg {
    display: block;
    width: 100%;
    height: auto;
}