@use "variables" as *;
@use "sass:map";

// Reponsive
@mixin mq-up($breakpoint: md) {
    @media #{map.get($breakpoint-up, $breakpoint)} {
        @content;
    }
}

@mixin mq-down($breakpoint: md) {
    @media #{map.get($breakpoint-down, $breakpoint)} {
        @content;
    }
}

@mixin mq-devices($breakpoint: laptop) {
    @media #{map.get($breakpoint-devices, $breakpoint)} {
        @content;
    }
}

@mixin button-layout() {
    border: 1px solid #d1d9e6;
    box-shadow: $box-shadow;
    border-radius: 0.55rem;

    &:hover {
        box-shadow: $box-shadow-hover;
        background-color: #e6e7ee;
        border-color: #e6e7ee;
        color: #31344b;
    }
}