//Layout
$background-main:#e6e7ee;
$box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #fff;
$box-shadow-hover:inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff;

//Text
$fontt-family:"Nunito Sans", sans-serif;
$primary-color:#44476a;

$breakpoint-up: (
  "xs": "screen and (min-width: 480px)",
  "sm": "screen and (min-width: 640px)",
  "md": "screen and (min-width: 769px)",
  "lg": "screen and (min-width: 1025px)",
  "xlg": "screen and (min-width: 1240px)",
  "xl": "screen and (min-width: 1441px)"
  ) !default;

// max-width
$breakpoint-down: (
  "xs": "screen and (max-width: 479px)",
  "sm": "screen and (max-width: 639px)",
  "md": "screen and (max-width: 768px)",
  "lg": "screen and (max-width: 1024px)",
  "xlg": "screen and (max-width: 1239px)",
  "xl": "screen and (max-width: 1440px)"
  ) !default;

$breakpoint-devices: (
  "laptop": "screen and (min-width: 1025px) and (max-width: 1440px)",
  "tablet": "screen and (min-width: 769px) and (max-width: 1239px)",
  "mtablet": "screen and (min-width: 480px) and (max-width: 768px)"
  ) !default;